body
{
    margin:-100px;
    padding: -100px;
    font-family: arial;
    background:#fff;
}

ul
{
    margin: 300px 200px;
    padding: 0;
    display: flex;

}

ul li 
{
    list-style: none;
    padding: 10px 20px;

}

ul li a 
{
    text-decoration: none;
    text-transform: uppercase;
    font-size:2em;
    color: black;
    position: relative;
}

ul li a:before
{
    content: '';
    width: 10px;
    height: 5px;
    background: #0000FF;
    position: absolute;
    top:100%;
    left:0;
    transition: .5s;
}
ul li:hover   a:before
{
    width: 50%;
    transform: translateX(100%)
}





