body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	color: #222222;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

.container{
    margin: auto;
    width: 500px;
    height: 500px;
    
}
.container-1{
    width:500px;
    height: 100px;
    margin-top: 50px;
    background-color: #00acc1;
    border-top-left-radius: 8px;
     border-top-right-radius: 8px;
     color: #fff;
     font-family: arial,sans-serif;
    padding: 10px;
}
.container-1 h2{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  margin-top: 10px;
  display: block;
  
}
.container-1 h4{
    font-size: 14px;
    opacity: .7;
    padding-bottom: 8px;
}
.div-peso{
    margin-top: 50px;
}
.div-peso p{
  font-family: arial,sans-serif;
  font-size: 24px;
  opacity: 0.8;
}
.div-peso p span{
  font-size: 24px;
  opacity:0.8;
}
.peso{
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  border-top: 1px solid silver;
  font-family: arial,sans-serif;
  font-size: 12px;
  height: 30px;
  margin-right: 5px;
  padding: 1px 4px;
  text-align: center;
  width: 30%;
}
.div-altura{
    margin-top: 50px;
}
.div-altura p{
    font-family: arial,sans-serif;
    font-size: 24px;
    opacity: 0.8; 
}
.div-altura p span {
    font-size: 24px;
    opacity:0.8;
}
.altura{
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  border-top: 1px solid silver;
  font-family: arial,sans-serif;
  font-size: 12px;
  height: 30px;
  margin-right: 5px;
  padding: 1px 4px;
  text-align: center;
  width: 28%;
}
.resultado{
    margin-top: 50px;
    font-family: arial,sans-serif;
    font-size: 18px;
    opacity: 0.8;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
  
#btn-calcular{
  -webkit-appearance: button;
  width: 50%;
  text-align: center;
  background-color: #00ACC1;
  border: 1px solid #00ACC1;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .375rem .75rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
#btn-calcular:hover{
  background-color: #0069d9;
  border-color: #0062cc;
  text-decoration: none;
}

.resposta-imc{
  margin-top: 50px;
    font-family: arial,sans-serif;
    font-size: 18px;
    opacity: 0.8;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
.resposta-situacao{
  margin-top: 50px;
    font-family: arial,sans-serif;
    font-size: 18px;
    opacity: 0.8;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
